stages:
  - build
  - deploy

build:
  stage: build
  only:
    refs:
      - develop
      - merge_requests
      - web
    changes:
      - .gitlab-ci.yml
      - CMakeLists.txt
      - cmake/*
      - include/argparse/*
      - src/*
      - tests/*
  parallel:
    matrix:
      - standard: [98, 11, 14, 17, 20, 23, 26]
  variables:
    BUILD_TYPE: Release
    OUTPUT_REPORT: test-results.xml
  script:
    - cmake -S . -B build/${standard} -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_CXX_STANDARD=${standard}
    - cmake --build build/${standard} --config ${BUILD_TYPE}
    - ctest --test-dir build/${standard} -C ${BUILD_TYPE} --output-on-failure --output-junit ${standard}_${OUTPUT_REPORT}
  artifacts:
    reports:
      junit: build/*/*_${OUTPUT_REPORT}

deploy_latest:
  stage: deploy
  only:
    refs:
      - develop
    changes:
      - include/argparse/*
  script:
     - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PWD}/include/argparse/argparse.hpp "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/argparse/latest/argparse.hpp"'

deploy_stable:
  stage: deploy
  only:
    refs:
      - master
  script:
     - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PWD}/include/argparse/argparse.hpp "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/argparse/stable/argparse.hpp"'

deploy_tag:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
     - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PWD}/include/argparse/argparse.hpp "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/argparse/${CI_COMMIT_TAG}/argparse.hpp"'
