stages:
- build

variables:
  BUILD_TYPE: Release

build:
  stage: build
  only:
    refs:
      - develop
      - merge_requests
      - web
    changes:
      - .gitlab-ci.yml
      - CMakeLists.txt
      - cmake/*
      - include/argparse/*
      - src/*
      - tests/*
  parallel:
    matrix:
      - standard: [98, 11, 14, 17, 20, 23, 26]
  script:
    - cmake -S . -B build/${standard} -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_CXX_STANDARD=${standard}
    - cmake --build build/${standard} --config ${BUILD_TYPE}
    - ctest --test-dir build/${standard} -C ${BUILD_TYPE} --output-on-failure
