# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Build results
[Bb]uild*/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]ld*/
[Bb]in*/
[Oo]bj*/
[Ll]og*/

# Shell
*.sh

# Visual Studio
.vs/

# VS Code
.vscode/

# QtCreator
*.autosave

# QtCreator CMake
CMakeLists.txt.*

# Others
~$*
.DS_Store
