Source: cpp-argparse-dev
Section: devel
Priority: optional
Maintainer: Mikhail Golubchikov <golubchikov.mihail@gmail.com>
Build-Depends: cmake, build-essential

Package: cpp-argparse-dev
Architecture: any
Description: C++11 Argument Parser
 Python-like header-only C++11 argument parser
